.main-card {
  margin: 5em 18em 5em 23em;
  outline: none;
  border: 0;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  max-width: 40.75em;
  max-height: 50em;
}
.select-class {
  min-width: 0;
  width: fit-content;
  max-width: 26em;
  white-space: nowrap;
}
.select-dropdown {
  width: 25em;
  height: 3.5em;
  margin: 0.5em;
  border: none;
  outline: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0;
  flex-grow: 1;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* Media query for phones */
@media (max-width: 767px) {
  .main-card {
    margin: 0;
    min-width: 0;
    width: fit-content;
    max-width: 12em;
    white-space: nowrap;
  }
  .select-class {
    width: 100%;
    max-width: none;
    margin-bottom: 10px;
  }
  .select-dropdown {
    max-width: 17em;
  }
}

/* Media query for tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .main-card {
    min-width: 0;
    width: fit-content;
    max-width: 26em;
    white-space: nowrap;
    margin: 2em 15em 2em 1em;
  }
  .select-class {
    flex-direction: column;
    align-items: center;
  }
  .select-class {
    max-width: 20em;
    margin-bottom: 10px;
  }
  .select-dropdown {
    max-width: 17em;
  }
  .card-container {
    display: flex;
    justify-content: center; /* added code */
  }
}

/* Media query for PCs */
@media (min-width: 1024px) {
  .select-class {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .select-class {
    max-width: 25em;
    margin-right: 10px;
  }
  .select-dropdown {
    max-width: 18em;
  }
}
